 header {
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-light-gray);
    margin: 0;
}

header a {
    color: var(--color-light-gray);
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 400;
}

header ul {
    margin: 0 auto;
    text-align: center;
    min-height: 40px;
    padding: 5px;
}

header ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}

header ul li a:hover {
    color: var(--color-light-blue);
}